.table {
    margin: 1rem auto;
    width: 300px;
}

.wrapper_columns {
    text-align: center;
}

.column_id {}

.column_name {}

.column_year {}

.table,
.column_id,
.column_name,
.column_year,
.date,
.name,
.year {
    border: solid 2px;
}

// .wrapper_row {
//     background-color: aqua;
// }
