.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #000000;
    width: fit-content;
    width: 320px;
        height: 509px;
}

.container__card {
    // width: 320px;
    height: 480px;
    background-color: #F2F2F2;
    border-radius: 15px;
    position: relative;
    
}

.card {
    font-family: 'Trebuchet MS';
    border-radius: 13px;
    overflow: hidden;
    height: 100%;
    position: relative;
    border: solid #1698D9 4px;
    box-sizing: border-box;
    padding: 21px 0 0 48px;
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/img/cat.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 230px;
}

.container__card:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid #000000;
    border-right: 30px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.container__card:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 36px solid #1698D9;
    border-right: 36px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}
.card__first_line {
    font-weight: 400;
    color: rgba(102, 102, 102, 1);;
}
.card__second_line {
    font-size: 48px;
}
.card__thirty_line {
    font-size: 24px;
    font-weight: 700;
}

.card__dot {
    position: absolute;
    bottom: 14px;
    right: 14px;
    height: 80px;
    width: 80px;
    background-color: deepskyblue;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    color: #ffffff;
    
}
.card__dot__number {
    font-size: 42px;
}
.card__dot__size {
    font-size: 21px;
}
.card__bottom_row {
    text-align: center;
}
.bottom_row__first,
.bottom_row__second {
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
}
.bottom_row__second {
    color: #1698D9;
}
// img {
//     width: 100%;
//     bottom: 0;
//     position: absolute;
//     height: 150px;
//     left: 30px;
// }



// .card {
//     display: flex;
//     justify-content: center;
// }

// .card__wrapper_card {
//     border-radius: 13px;
//     overflow: hidden;
//     height: 100%;
//     position: relative;
//     border: solid #01579B 4px;
//     box-sizing: border-box;
//     // width: 320px;
//     // height: 509px;
//     // // margin: 0 auto;
//     // // background-color: #000000;
//     // background-color: #fff;
//     // border-radius: 15px;
//     // position: relative;

// }

// .card__body {
// width: 320px;
// height: 509px;
//     // margin: 0 auto;
//     // background-color: #000000;
//     background-color: #fff;
//     border-radius: 15px;
//     position: relative;
//     // background-color: #F2F2F2;
//     // height: 480px;
//     // border: solid 4px rgba(22, 152, 217, 1);
//     // border-radius: 15px;
//     // position: relative;
//     // clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
//     // clip-path: inset(10px 20px 30px 40px)
//     // background:linear-gradient(45deg, transparent 15px, #F2F2F2 0);

// }

// .card__body:after {
//     content: '';
//     width: 0;
//     height: 0;
//     border-top: 30px solid white;
//     border-right: 30px solid transparent;
//     position: absolute;
//     top: 0;
//     left: 0;
// }

// .card__body:before {
//     content: '';
//     width: 0;
//     height: 0;
//     border-top: 36px solid rgba(22, 152, 217, 1);
//     border-right: 36px solid transparent;
//     position: absolute;
//     top: 0px;
//     left: 0px;
// }

// .body__first_line,
// .body__second_line,
// .body__thirty_line,
// .body__circle_weight,
// .circle_weight__number,
// .circle_weight__size,
// .card__bottom_row,
// .bottom_row__first,
// .bottom_row__second {}